{{ $figcap := or .Title }}
{{ $caption := or .Text " " }}
{{ $alt := or .Text $figcap }}
{{- if eq $figcap $caption -}}
{{ $caption = " " }}
{{- end -}}

{{ $imageOriginal := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) }}
{{ $imagePlug := "" }}
{{ with $imageOriginal }}
{{ $imagePlug = .Resize "900x jpg q5" }}
{{ end }}
<div style="text-align: center">
{{- if $figcap -}}
<figure>
    {{ if ne  $imageOriginal nil }}
    {{- dict "Src" .Destination "Title" $figcap "Alt" $alt "Caption" $caption "Linked" true "Resources" .Page.Resources "ImagePlug" $imagePlug.RelPermalink | partial "plugin/image.html" -}}
    {{ else }}
    {{- dict "Src" .Destination "Title" $figcap "Alt" $alt "Caption" $caption "Linked" true "Resources" .Page.Resources | partial "plugin/image.html" -}}
    {{ end }}
    <figcaption class="image-caption">
        {{- $figcap | safeHTML -}}
    </figcaption>
</figure>
{{- else -}}
{{ if ne $imageOriginal nil }}
{{- dict "Src" .Destination "Title" (path.Base .Destination) "Alt" $alt "Resources" .Page.Resources "ImagePlug" $imagePlug.RelPermalink | partial "plugin/image.html" -}}
{{ else }}
{{- dict "Src" .Destination "Title" (path.Base .Destination) "Alt" $alt "Resources" .Page.Resources | partial "plugin/image.html" -}}
{{ end }}
{{- end -}}
</div>
