{{- $params := .Scratch.Get "params" -}}

<div class="post-info-share">
    <span>
        {{- partial "plugin/share.html" . -}}
    </span>
</div>

{{- $authorName := $params.author | default .Site.Author.name | default " " -}}
{{- if not (eq $authorName " ") -}}
{{ $author := index .Site.Data.authors $authorName }}
<div class="footer-post-author" {{- if not $author.ps -}} style="border-radius: 10px;border-bottom: solid 2px #ececec" {{- end -}}>
    <div class="author-avatar"><a href="{{ with $author.link }} {{- . | safeHTML -}}{{ end }}" target="_blank"><img alt="" src="{{ with $author.avatar }} {{- . | safeHTML -}}{{ end }}" border="0"></a></div>
    <div class="author-info">
        <div class="name"><a href="{{ with $author.link }} {{- . | safeHTML -}}{{ end }}" target="_blank">{{ $author.name }}</a></div>
        <div class="number-posts">{{ $author.about }}</span></div>
    </div>
</div>
{{- if $author.ps -}}
<div class="footer-donate">
    <div>{{- $author.ps | safeHTML -}}</div>
</div>
{{- end -}}
{{- end -}}

<div class="post-footer" id="post-footer">
    {{- if or .PrevInSection .NextInSection -}}
    <div class="post-navigation">
        {{- if .PrevInSection -}}
        <div class="post-nav-box nav-box-prev">
            <a class="nav-box" href="{{ .PrevInSection.RelPermalink }}"><span class="nav-icon"><svg aria-hidden="true" data-prefix="fas" data-icon="chevron-circle-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z"></path></svg></span><div style="text-align: right;padding-left: 10px"><div class="nav-text-h">{{ T "navNext" }}</div><span class="nav-text">{{ .PrevInSection.Title }}</span></div></a>
        </div>
        {{- end -}}
        {{ if .NextInSection }}
        <div class="post-nav-box nav-box-next">
            <a class="nav-box" href="{{ .NextInSection.RelPermalink }}"><div style="padding-right: 10px"><div class="nav-text-h">{{ T "navNext" }}</div><span class="nav-text">{{ .NextInSection.Title }}</span></div><span class="nav-icon"><svg aria-hidden="true" data-prefix="fas" data-icon="chevron-circle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z"></path></svg></span></a>
        </div>
        {{- end -}}
    </div>
    {{- end -}}
</div>
