{{- $params := .Scratch.Get "params" -}}
{{- $pageTheme := $params.Theme | default .Site.Params.Page.theme | default "classic" -}}

{{ $button := $params.button}}
{{ if eq $button.enable true }}
<div class="post-info-share">
    <a href="{{ $button.link }}" class="button button-big button-red">{{ $button.text }}</a>
</div>
{{ end }}

<div class="post-footer" id="post-footer">
    {{- if and (or .PrevInSection .NextInSection) $params.showPostNav -}}
    <div class="post-navigation">
        {{- if .PrevInSection -}}
        <div class="post-nav-box nav-box-prev">
            <a class="nav-box" href="{{ .PrevInSection.RelPermalink }}"><span class="nav-icon"><svg aria-hidden="true" data-prefix="fas" data-icon="chevron-circle-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z"></path></svg></span><div style="text-align: right;padding-left: 10px"><div class="nav-text-h">{{ T "navNext" }}</div><span class="nav-text">{{ .PrevInSection.Title }}</span></div></a>
        </div>
        {{- end -}}
        {{ if .NextInSection }}
        <div class="post-nav-box nav-box-next">
            <a class="nav-box" href="{{ .NextInSection.RelPermalink }}"><div style="padding-right: 10px"><div class="nav-text-h">{{ T "navNext" }}</div><span class="nav-text">{{ .NextInSection.Title }}</span></div><span class="nav-icon"><svg aria-hidden="true" data-prefix="fas" data-icon="chevron-circle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z"></path></svg></span></a>
        </div>
        {{- end -}}
    </div>
    {{- end -}}
</div>

{{- with .Params.tags -}}
<div class="post-tags">
    {{- range $index, $value := . -}}
    {{- $tag := partialCached "function/path.html" $value $value | printf "/tags/%v" | $.Site.GetPage -}}
    <a href="{{ $tag.RelPermalink }}" class="tag">{{ $tag.Title }}</a>
    {{- end -}}
</div>
{{- end -}}
