{{- partial "init.html" . -}}

<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{- block "robots" . }}<meta name="robots" content="noodp"/>{{ end -}}
        <title>
            {{- block "title" . }}{{ .Site.Title }}{{ end -}}
        </title>
        {{- block "twitter-card" . }}
        <meta name="twitter:card" content="summary_large_image"/>
        {{- with .Site.Params.Seo.Images -}}
        <meta name="twitter:image" content="{{ index . 0 }}"/>
        {{- end -}}
        {{- with .Site.Params.Social.Twitter -}}
        <meta name="twitter:creator" content="@{{ . }}"/>
        {{- end -}}
        <meta name="twitter:title" content="{{ .Site.Params.Title }}"/>
        <meta name="twitter:description" content="{{ .Site.Params.Description }}"/>
        {{ end -}}
        {{- partial "head/meta.html" . -}}
        {{- partial "head/link.html" . -}}

        {{- partial "head/seo.html" . -}}
        {{- block "dnsPrefetch" . }}
        {{- with $.Site.Params.Seo.dnsPrefetch -}}
        {{- range $index, $value := . -}}
        <link rel="dns-prefetch" href="{{ $value }}">
        {{- end -}}
        {{- end -}}
        {{ end -}}
    </head>
    <body data-header-desktop="{{ .Site.Params.header.desktopMode }}" data-header-mobile="{{ .Site.Params.header.mobileMode }}">
        {{- /* Check theme isDark before body rendering */ -}}
        {{- $theme := .Site.Params.defaulttheme -}}
        <script>(window.localStorage && localStorage.getItem('theme') ? localStorage.getItem('theme') === 'dark' : ('{{ $theme }}' === 'auto' ? window.matchMedia('(prefers-color-scheme: dark)').matches : '{{ $theme }}' === 'dark')) && document.body.setAttribute('theme', 'dark');</script>

        <div id="mask"></div>

        {{- /* Body wrapper */ -}}
        <div class="wrapper">
            {{- partial "header.html" . -}}
            <main class="main">
                {{- block "no-content" . }}
                <div class="container">
                    {{- block "content" . }}{{ end -}}
                </div>
                {{ end -}}
            </main>
            {{- partialCached "footer.html" . -}}
        </div>

        <aside id="fixed-buttons">
            {{- /* top button */ -}}
            <a href="#" id="back-to-top" class="fixed-button" title="{{ T `backToTop` }}">
                <i class="svg-icon icon-arrow-up"></i>
            </a>

            {{- /* comment button */ -}}
            <a href="#" id="view-comments" class="fixed-button" title="{{ T `viewComments` }}">
                <i class="svg-icon icon-comments-fixed"></i>
            </a>
        </aside>

        {{- /* Load JavaScript scripts and CSS */ -}}
        {{- partial "assets.html" . -}}
    </body>
</html>
