// ==============================
// Custom style
// 自定义样式
// ==============================
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.single {
  .content {
    p {
      margin: 1.2rem 0;
    }
  }
}

.header-logo {
  color: #2c678d;
  font-family: Lobster;
  font-size: 1.8rem;
}

article {
  background: white;
  border-radius: 30px;

  [theme=dark] & {
    background: #1B1B1C;
  }
}

.page {
  max-width: 900px;
  width: 100%;
  min-width: 200px;
  box-sizing: border-box;

  [header-desktop] & {
    margin-top: 5rem;
    padding-top: 2rem;
  }
}

.archive-item {
  padding: 10px 20px;
}

.home[posts] {
  .summary {
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    border: 1px solid #ddd;

    [theme=dark] & {
      border: 1px solid #a9a9b3;
    }
  }
}

#header-desktop {
  line-height: 3.2rem;
}

.single {
  .content {

    h2 {
      font-size: 2rem;
      margin-top: 5rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    a {
      border-bottom: dashed 1px;
    }

    a[class="header-mark"] {
      border-bottom: none;
    }

    blockquote {
      background: none;
      border: none;
      display: block;
      text-align: center;
      font-size: 160%;
      width: 90%;
      padding: 20px;
      box-sizing: border-box;
      font-weight: 400;
      line-height: 2rem;
      text-transform: uppercase;
    }
  }
}

.single {
  #comments {
    padding: 0;
  }
}

.comments {
  padding: 20px;
  border-radius: 30px;
  background: white;
  margin-top: 3rem;
}

@import "_custom_media";