@media only screen and (min-width: 1201px) {
  .page {
    width: 100%;
  }

  article.page {
    font-size: 18px;

    .post {
      padding: 20px 60px 20px;
    }

  }

  .featured-image-preview, .featured-image {
    border-radius: 30px 30px 0 0;

    img {
      border-radius: 30px 30px 0 0;
    }
  }

  .padding-article {
    padding: 40px 60px 0 60px;
  }

}

@media only screen and (max-width: 1200px) {
  #toc-auto {
    display: none;
  }

  #toc-static {
    display: block;
  }

  .page {
    width: 100%;
  }

  article.page {
    font-size: 18px;

    .post {
      padding: 20px 60px 20px;
    }
  }

  .featured-image-preview, .featured-image {
    img {
      border-radius: 30px 30px 0 0;
    }
  }

  .padding-article {
    padding: 40px 60px 0 60px;
  }
}

@media only screen and (max-width: 960px) {
  .page {
    width: 100%;
  }

  article.page {
    font-size: 18px;

    .post {
      padding: 20px 60px 20px;
    }
  }

  .featured-image-preview, .featured-image {
    border-radius: 30px 30px 0 0;

    img {
      border-radius: 30px 30px 0 0;
    }
  }

  .padding-article {
    padding: 40px 60px 0 60px;
  }
}

@media only screen and (max-width: 680px) {
  .page {
    [data-header-desktop] & {
      margin-top: 3rem;
    }
  }
  .featured-image {
    height: 100vh;
  }

  article.page {
    font-size: 16px;

    .post {
      padding: 10px;
    }

    .featured-image {
      border-radius: 0;
    }
  }

  .single {
    border-radius: 0;
  }

  .wrapper {
    main {
      .container {
        padding: 0;
      }
    }
  }

  .home[data-home=posts] {
    .summary {
      border-left: none;
      border-right: none;
    }
  }

  .featured-image-preview, .featured-image {
    border-radius: 0;

    img {
      border-radius: 0;
    }
  }

  .padding-article {
    padding: 40px 10px 0 10px;
  }

}