// ==============================
// Custom style
// 自定义样式
// ==============================
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.single {
  .content {
    p {
      margin: 1.2rem 0;
    }
  }
}

.header-logo {
  color: #2c678d;
  font-family: Lobster;
  font-size: 1.8rem;
}

article {
  background: white;
  border-radius: 30px;
  box-shadow: (0 0 1.5rem 0 rgba(0, 0, 0, .1));

  [theme=dark] & {
    background: #1B1B1C;
    box-shadow: (0 0 40px rgba(94, 104, 125, .3));
  }
}

.page {
  article {
    box-shadow: none;

    &:hover {
      @include box-shadow(0 0 1.5rem 0 rgba(0, 0, 0, .1));
      @include transition(all 0.3s ease-out);
    }

    [theme=dark] & {
      &:hover {
        @include box-shadow(0 0 40px rgba(94, 104, 125, .3));
        @include transition(all 0.3s ease-out);
      }
    }
  }
}

.page {
  max-width: 900px;
  width: 100%;
  min-width: 200px;
  box-sizing: border-box;

  [header-desktop] & {
    margin-top: 5rem;
    padding-top: 2rem;
  }
}

.archive-item {
  padding: 10px 20px;
}

.home {
  .home-profile {
    .home-avatar {
      img {

        &:hover {
          box-shadow: (0 0 40px rgba(0, 0, 0, .1));
        }

        [theme=dark] & {
          box-shadow: (0 0 0 .3618em #a9a9b3);

          &:hover {
            position: relative;
            @include transform(translateY(-.75rem));
            box-shadow: (0 0 40px rgba(94, 104, 125, .3));
          }
        }
      }
    }
  }
}

.home[posts] {
  .summary {
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    border: 1px solid #ddd;

    [theme=dark] & {
      border: 1px solid #a9a9b3;
    }
  }
}

#header-desktop {
  line-height: 3.2rem;
}

.single {
  .content {

    h2 {
      font-size: 2rem;
      margin-top: 5rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    a {
      border-bottom: dashed 1px;
    }

    a[class="header-mark"] {
      border-bottom: none;
    }

    blockquote {
      margin: auto;
      background: none;
      border: none;
      display: block;
      text-align: center;
      font-size: 160%;
      width: 90%;
      padding: 40px 20px;
      box-sizing: border-box;
      font-weight: 400;
      line-height: 2rem;
      text-transform: uppercase;

      [theme="dark"] & {
        background: none;
        border: none;
      }

    }
  }
}

.single {
  #comments {
    padding: 0;
  }
}

.comments {
  padding: 20px;
  border-radius: 30px;
  background: white;
  margin-top: 3rem;
  box-shadow: (0 0 1.5rem 0 rgba(0, 0, 0, .1));

  [theme=dark] & {
    box-shadow: (0 0 40px rgba(94, 104, 125, .3));
  }
}

.footer-post-author {
  margin: 20px 0 0 0;
  padding: 20px;
  background-color: #ececec;
  color: black;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;

  [theme=dark] & {
    background-color: white;
  }
}

.author-avatar {
  width: 105px;
  padding: 0 25px 0 0;
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;

  img {
    display: block;
    width: 100%;
    border-radius: 100%;
  }
}

.author-info {
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;

  .name {
    color: #121319;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }
}

@import "_custom_media";