
:root {
  --test: 23px;
}

@media only screen and (min-width: 1300px) {
  article.page-toc {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1201px) {
  .page {
    width: 100%;
  }

  article.page {
    font-size: 18px;

    .post {
      padding: 20px 60px 20px;
    }

  }

  .featured-image-preview, .featured-image {

    img {
      border-top-left-radius: $article-summary-image-border-radius;
      border-top-right-radius: $article-summary-image-border-radius;
    }
  }

  .padding-article {
    padding: 40px 60px 20px 60px;
  }

}

@media only screen and (max-width: 1200px) {
  #toc-auto {
    display: none;
  }

  #toc-static {
    display: block;
  }

  .page {
    width: 100%;
  }

  .page-toc {
    margin: auto;
  }


  article.page {
    font-size: 18px;

    .post {
      padding: 20px 60px 20px;
    }
  }

  .featured-image-preview, .featured-image {
    img {
      border-radius: 30px 30px 0 0;
    }
  }

  .padding-article {
    padding: 40px 60px 20px 60px;
  }

}

@media only screen and (max-width: 960px) {
  .page {
    width: 100%;
  }

  article.page {
    font-size: 18px;

    .post {
      padding: 20px 60px 20px;
    }
  }

  .featured-image-preview, .featured-image {
    border-radius: 30px 30px 0 0;

    img {
      border-radius: 30px 30px 0 0;
    }
  }

  .padding-article {
    padding: 40px 60px 20px 60px;
  }

}

@media only screen and (max-width: 680px) {
  article.page {
    font-size: 16px;

    .post {
      padding: 10px;
    }

    .featured-image {
      border-radius: 0;
    }

    [data-header-desktop] & {
      margin-top: 3rem;
    }
  }

  .comments {
    padding: 10px 10px 10px;
  }

  .featured-image {
    height: 100vh;
  }

  .theme-wide {
    .image-theme-wide {
      margin-right: -10px;
      margin-left: -10px;
    }
  }

  .single {
    border-radius: 0;

    div.img-full {
      margin-left: -10px;
      margin-right: -10px;
    }
  }

  .featured-image-preview, .featured-image {
    border-radius: 0;

    img {
      border-radius: 0;
    }
  }

  .padding-article {
    padding: 40px 10px 0 10px;
  }

  .author-comment-text {
    font-size: 18px;
  }

  .post-navigation {
    display: inline-block;
    width: 100%;

    .nav-box-prev {
      margin-right: 0;
    }

    .post-nav-box {
      width: 100%;
      padding-top: 10px;
    }
  }

  .wrapper {
    main {
      .container.content-article {
        padding: 0;
      }
    }
  }

  .post-tags {
    .tag {
      padding: 2px 5px 2px 5px;
      font-size: 14px;
    }
  }

  .post-tags-summary-image {
    display: none;
  }

  .post-tags-summary-under-footer-display {
    display: inline-block;
  }

}