.footer {
  width: 100%;
  text-align: center;
  line-height: 1.5rem;
  margin: 3rem 0 1rem 0;
  font-family: 'Google Sans';

  .footer-container {
    font-size: .8rem;

    .footer-line {
      width: 100%;

      .icp-br {
        display: none;
      }
    }
  }

  @include blur;
}
