<nav class="breadcrumbs">
    <ol>
        <li><a href="{{ .Site.Home.RelPermalink }}">{{ T "home" }} </a></li>
        {{- with $.Params.categories -}}
        {{- $category := index . 0 -}}
        {{- with $category -}}
        {{- $category = partialCached "function/path.html" . . | printf "/categories/%v" | $.Site.GetPage -}}
        <li><a href="{{ $category.RelPermalink }}">{{ $category.Title }} </a></li>
        {{- end -}}
        {{- end -}}
        <li>{{ .Title }}</li>
    </ol>
</nav>