{{ if eq $.Site.Params.Advertising.enable true }}
{{ with cond $.IsNamedParams ($.Get "slot") "" | default $.Site.Params.Advertising.Google.Slot }}
<aside>
    <div class="{{ if $.Get `circuit` | ne false }}cat-cit{{ end }}">
        <div class="no-adb">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:block; text-align:center;"
                 data-ad-layout="in-article"
                 data-ad-format="fluid"
                 data-ad-client="{{- with $.Site.Params.Advertising.Google.Client -}}{{ . }}{{ end }}"
                 data-ad-slot="{{ . }}"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</aside>
{{ end }}
{{ end }}